@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url(../img/background.png) no-repeat center/cover;
   column-gap: 30px;
}

::selection {
   color: #fff;
   background: #5372f0;
}

.form {
   position: absolute;
   width: 430px;
   background: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 40px 30px 50px 30px;
}

/* Hide  Signup section */

.form.signup {
   opacity: 0;
   pointer-events: none;
}

.forms.show-signup .form.signup {
   opacity: 1;
   pointer-events: auto;
}

.forms.show-signup .form.login {
   opacity: 0;
   pointer-events: none;
}

/* Hide Forgot Password Section */
.form.forgot-password {
   opacity: 0;
   pointer-events: none;
}

.forms.show-forgot-password .form.forgot-password {
   opacity: 1;
   pointer-events: auto;
}

.forms.show-forgot-password .form.login {
   opacity: 0;
   pointer-events: none;
}

.form header {
   font-size: 35px;
   font-weight: 600;
}

.form form {
   margin: 40px 0;
}

form .field {
   width: 100%;
   margin-bottom: 20px;
}

form .field.shake {
   animation: shake 0.3s ease-in-out;
}

@keyframes shake {
   0%,
   100% {
      margin-left: 0;
   }
   20%,
   80% {
      margin-left: -12px;
   }
   40%,
   60% {
      margin-left: 12px;
   }
}

form .field .input-area {
   position: relative;
}

form input {
   height: 50px;
   width: 100%;
   outline: none;
   padding: 0 45px;
   font-size: 18px;
   border-radius: 5px;
   border: 1px solid #bfbfbf;
   border-bottom-width: 2px;
   transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
   border-color: #5372f0;
}

form .field.shake input,
form .field.error input {
   border-color: #dc3545;
}

form input::placeholder {
   color: #bfbfbf;
   font-size: 17px;
}

form .field i {
   position: absolute;
   top: 50%;
   font-size: 18px;
   pointer-events: none;
   transform: translateY(-50%);
}

form .field .icon {
   left: 15px;
   color: #bfbfbf;
}

form .eye-icon {
   color: #8b8b8b;
   position: absolute;
   top: 50%;
   right: 3%;
   font-size: 18px;
   pointer-events: auto;
   transform: translateY(-50%);
}

form .field .error-icon {
   right: 15px;
   color: #dc3545;
}

form input:focus ~ .icon,
form .field.valid .icon {
   color: #5372f0;
}

form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon {
   color: #bfbfbf;
}

form .field .error-txt {
   color: #dc3545;
   margin-top: 5px;
   text-align: left;
}

form .field .error {
   display: none;
}

form .field.shake .error,
form .field.error .error {
   display: block;
}

form .pass-txt {
   text-align: left;
   margin-top: -10px;
}

.form a {
   color: #5372f0;
   text-decoration: none;
}

.form a:hover {
   text-decoration: underline;
}

form input[type="submit"] {
   margin-top: 30px;
   border: none;
   color: #fff;
   cursor: pointer;
   background: #5372f0;
   transition: background 0.2s ease;
}

input[type="submit"]:hover {
   background: #2c52ed;
}

/* Line Styles */
.line {
   position: relative;
   height: 1px;
   width: 100%;
   margin: 36px 0;
   background-color: #bfbfbf;
}

.line::before {
   content: "Or";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   color: #8b8b8b;
   padding: 0 15px;
}

.media-options a {
   display: flex;
   align-items: center;
   justify-content: center;
}

.media-options a:hover {
   text-decoration: none;
}

.field {
   position: relative;
}

a.facebook {
   color: #fff;
   background-color: #4267b2;
   height: 50px;
   width: 100%;
   outline: none;
   padding: 0 45px;
   font-size: 18px;
   border-radius: 5px;
   border-bottom-width: 2px;
   margin-bottom: 20px;
}

a.facebook .facebook-icon {
   height: 32px;
   width: 32px;
   color: #0171d3;
   font-size: 20px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

.facebook-icon,
img.google-img {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 15px;
}

img.google-img {
   height: 20px;
   width: 20px;
   object-fit: cover;
}

a.google {
   border: 1px solid #cacaca;
   height: 50px;
   width: 100%;
   outline: none;
   padding: 0 45px;
   font-size: 18px;
   border-radius: 5px;
}

a.google span {
   font-weight: 500;
   opacity: 0.6;
   color: #232836;
}
