/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* For animation dark mode */
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo img {
  height: 2rem;
}

.nav__logo-icon {
  font-size: 1.75rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 0.85rem;
}

.nav__btns .bx {
  font-size: 1.75rem;
}

.nav__shop {
  position: relative;
  color: rgb(38, 38, 38);
}

/* user dropdown */
.user-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.5rem 0;
  min-width: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: var(--z-fixed);
}

.user-dropdown__item {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.user-dropdown__item:hover {
  background-color: var(--first-color);
  color: var(--title-color);
}

.show-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.show-dropdown {
  display: block;
}

#theme-button {
  display: none;
}

.nav__badge {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
  font-size: 0.7rem;
}

.nav__toggle,
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: 0.3s;
    z-index: 100;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Change icon color when scrolling down*/
.scroll-header .nav__shop {
  color: var(--title-color);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 2.5rem;
}

.home__img {
  width: 240px;
  transition: 0.5s;
  cursor: pointer;
}

.home__img-bg {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background: url(../img/background.png) no-repeat center/cover;
  width: 258px;
  height: 430px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  transform: translateX(1.5rem);
  overflow: hidden;
  position: relative;
}

.home__img-bg::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3)
  );
  left: -75%;
  z-index: 2;
  transform: skew(22deg);
}

.home__img-bg:hover::after {
  animation: light 2s infinite;
}

@keyframes light {
  0% {
    left: -75%;
  }
  100% {
    left: 175%;
  }
}

.home__img-bg:hover img {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.home__social {
  position: absolute;
  top: 35%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: 0.3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-1-5);
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.home__btns {
  display: flex;
  align-items: center;
}

.home__button {
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: rgb(191, 191, 191);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: rgb(161, 161, 161);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== ICON ===============*/
.icons__container {
  display: flex !important;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.icons__container .box {
  background: var(--container-color);
  border: 0.1rem solid var(--border-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 15rem;
  text-align: center;
}

.icons__container .box i {
  font-size: 3rem;
  color: var(--first-color);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.icons__container .box h3 {
  color: var(--title-color);
  padding-bottom: 0.5rem;
  /* font-size: 1.2rem; */
  text-transform: capitalize;
}

.icons__container .box span {
  color: var(--title-color);
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: auto;
}

/*=============== FEATURED ===============*/
.featured__container {
  row-gap: 2.5rem;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.featured__tag {
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
}

.featured__img {
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title,
.featured__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.featured__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.featured__price {
  display: block;
  color: var(--first-color);
  transition: 0.3s;
}

.featured__original {
  color: #999;
  text-decoration: line-through;
  font-size: 0.8rem;
}

.featured__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.featured__button {
  font-size: small;
  transform: translateY(1rem);
  height: 3.5rem;
  opacity: 0;
}

.featured__button i {
  font-size: 1.3em;
}

.featured__card:hover {
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
  /* transform: translateY(-1rem); */
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price {
  margin-bottom: var(--mb-1-5);
}

/*=============== STORY ===============*/
.story__container {
  row-gap: 4.5rem;
}

.story__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.story__description {
  margin-bottom: var(--mb-2-5);
}

#myVideo {
  max-width: 100%;
  border: 0.1rem solid var(--first-color);
  display: block;
}

/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.products__card {
  position: relative;
  overflow: hidden;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: 0.3s;
}

.products__card:hover img {
  transform: scale(1.2);
}

.products__img {
  height: 170px;
  margin-bottom: var(--mb-1);
}

.products__title,
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  /* border-radius: 0.5rem; */
  padding: 0.4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: -2rem;
  top: 0.4rem;
  transition: 0.3s;
}

.products-wishlist__button {
  background-color: var(--button-color);
  /* border-radius: 0.5rem; */
  padding: 0.4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: -2rem;
  top: 2.8rem;
  transition: 0.3s;
}

.products-view__button {
  background-color: var(--button-color);
  /* border-radius: 0.5rem; */
  padding: 0.4rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: -2rem;
  top: 5.2rem;
  transition: 0.3s;
}

.products-view__button .fa-eye {
  font-size: 0.88rem;
}

.products__card:hover .products__button,
.products__card:hover .products-wishlist__button,
.products__card:hover .products-view__button {
  right: 0.5rem;
}

.products__card:hover {
  box-shadow: 0 8px 32px rgba(26, 26, 26, 0.1);
}

.products-wishlist__button:hover,
.products__button:hover,
.products-view__button:hover {
  background-color: var(--button-color-alt);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(1px, -1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
/* To create a little shaking animation when clicking on a button, we can add a CSS keyframes animation and apply it to the button when it's in the :active state. */

.products-wishlist__button:active,
.products__button:active,
.products-view__button:active {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

/*=============== TESTIMONIAL ===============*/
.testimonial__container {
  row-gap: 4rem;
}

.testimonial__quote {
  display: inline-flex;
  background-color: var(--container-color);
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  color: var(--first-color);
  box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  margin-bottom: var(--mb-2);
}

.testimonial__description {
  margin-bottom: var(--mb-1);
}

.testimonial__date {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.testimonial__perfil {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 7rem;
}

.testimonial__perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 3rem;
}

.testimonial__perfil-data {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.testimonial__perfil-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.testimonial__perfil-detail {
  font-size: var(--small-font-size);
}

.testimonial__images {
  position: relative;
}

.testimonial__img,
.testimonial__square {
  width: 250px;
}

.testimonial__square {
  height: 250px;
  border: 5px solid var(--first-color);
  margin-left: auto;
}

.testimonial__img {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

/* Testimonial Swiper class */
.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

.testimonial-swiper,
.swiper-button-next::after,
.testimonial-swiper,
.swiper-button-prev::after {
  content: "";
}

.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  top: initial;
  bottom: 5%;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  padding: 0.25rem;
  font-size: 1.5rem;
  color: var(--first-color);
}

.testimonial-swiper .swiper-button-next {
  right: initial;
  left: 4rem;
}

/*=============== NEW ===============*/
.new__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: 0.3s;
}

.new__tag {
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.3s;
}

.new__img {
  height: 215px;
  margin-bottom: var(--mb-1);
}

.new__title,
.new__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.new__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.new__price {
  display: block;
  color: var(--first-color);
  transition: 0.3s;
}

.new__button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 0.8rem;
  font-weight: var(--font-medium);
  font-size: 1rem;
}

.new__btn-container {
  transform: translateY(1rem);
  opacity: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.new__card:hover {
  background-color: var(--first-color);
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
  /* padding: 2rem 0 3rem 0; */
}

.new__card:hover .new__tag {
  background-color: var(--button-color);
}

.new__card:hover .new__btn-container {
  transform: translateY(0);
  opacity: 1;
}

.new__card:hover .new__title {
  color: hsl(0, 0%, 15%);
}

.new__card:hover .new__price {
  color: hsl(0, 0%, 15%);
  /* margin-bottom: var(--mb-1-5); */
}

.new-swiper {
  position: relative;
}

.new-swiper .swiper-button-next,
.new-swiper .swiper-button-prev {
  width: 2.5rem;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  padding: 0.25rem;
  font-size: 1.5rem;
  color: var(--first-color);
  position: relative;
  margin: auto;
  transform: translateX(-75%);
}

.new-swiper .swiper-button-next {
  left: 3.75rem;
  top: 2.75rem;
}

.new-swiper .swiper-button-prev {
  left: 0;
}

/*=============== NEWSLETTER ===============*/
.newsletter__bg {
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title {
  font-size: var(--h1-font-size);
  color: rgb(38, 38, 38);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description {
  color: hsl(0, 0%, 35%);
}

.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.newsletter__input {
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  padding: 1.25rem 1rem;
  color: rgb(38, 38, 38);
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__list,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__content img {
  width: 340px;
  height: 130px;
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  display: inline-flex;
  padding: 0.25rem;
  z-index: 100000000;
  opacity: 0.8;
  transition: 0.4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 1rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: rgb(189, 189, 189);
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background: rgb(189, 189, 189);
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
}

/*=============== SEARCH BAR ===============*/
.search-box {
  position: relative;
  height: 1.75rem;
  width: 1.75rem;
}

.search-box .input-box {
  height: 60px;
  width: 300px;
  top: 45px;
  background: #333;
  position: absolute;
  right: calc(100% - 40px);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.showInput .search-box .input-box {
  opacity: 1;
  pointer-events: auto;
  top: 35px;
}

.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #333;
  right: 15px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  height: 35px;
  width: 280px;
  z-index: 98;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
}

/* search bar for products section */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.search-bar input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  width: 100%;
  color: #333;
}

.search-bar input[type="text"]::placeholder {
  color: #333;
}

.search-bar input[type="text"]:focus {
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*=============== PRICE SLIDER ===============*/
.price-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.price-slider-container label {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.price-slider-container #price-value {
  font-weight: 600;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.313rem;
  background: #ddd;
  outline: none;
  border-radius: 0.188rem;
  box-shadow: inset 0 0 5px #000;
  margin-top: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  background: var(--first-color);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 1.125rem;
  height: 1.125rem;
  background: var(--first-color);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 1.125rem;
  height: 1.125rem;
  background: var(--first-color);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #ddd;
  border-radius: 0.188;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 3px;
}

.price-slider-container #price-slider {
  width: 100%;
  max-width: 12.75rem;
}

/*======================PRODUCT MODAL ==================================*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  position: relative;
  background: var(--container-color);
  border: 0.1rem solid var(--border-color);
  width: 35rem;
  transform: translateY(-250px);
  transition: all 0.5s ease;
}

.modal.active .modal__container {
  transform: translateY(0);
}

.modal__content {
  padding: 1rem;
}

.modal__image-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.modal__image-small {
  width: 30%;
  padding: 1rem;
}

.modal__image-small img {
  width: 100%;
  border: 0.1rem solid var(--button-color);
  cursor: pointer;
}

.modal__image-small img:hover {
  background: var(--first-color);
}

.modal__image-big img {
  width: 90%;
}

.modal__content h3 {
  font-size: 2rem;
  color: var(--title-color);
}

.modal__content .stars {
  font-size: 0.8rem;
  color: var(--first-color);
  margin-top: 0.5rem;
}

.modal__content p {
  font-size: 1rem;
  padding: 1rem 0;
}

.modal__content .price {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--first-color);
}

.modal__content .modal__button {
  margin-top: 0.5rem;
  cursor: pointer;
}

/* close button for modal popup */
.modal__container .modal__content #modal-close {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-size: 0.9rem;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.modal__container .modal__content #modal-close:hover {
  transform: rotate(180deg);
}

/*======================== POPUP ======================================*/
/* add overlay to main component when popup opens */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup__container {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.popup__img {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__img::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #efffe0;
  border-radius: 50%;
}

.popup__img img {
  position: relative;
  max-width: 250px;
  z-index: 1;
}

.popup__content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content h3 {
  color: #333;
  line-height: 1em;
  font-weight: 300;
  font-size: 2em;
}

.popup__content h2 {
  font-size: 4em;
  color: var(--first-color);
  line-height: 1em;
}

.popup__content h2 span {
  color: #333;
  font-size: 0.75em;
  text-transform: uppercase;
}

.popup__content .expire-time {
  display: flex;
}

.popup__content .expire-time div {
  position: relative;
  padding: 10px;
  color: #333;
}

.popup__content .expire-time p {
  font-size: 2.5rem;
}

.popup__content a {
  display: inline-block;
  padding: 10px 20px;
  background: var(--first-color);
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 10px;
}

.popup__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #f3f3f3 url(../img/close.png);
  background-repeat: no-repeat;
  background-size: 0.9rem;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.popup__close:hover {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .overlay {
    display: none;
  }

  .popup__container {
    display: none;
  }

  #myVideo {
    max-width: 70%;
  }
}

/*=============== WISHLIST ===============*/
.wishlist {
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  overflow-y: scroll;
  transition: 0.4s;
}

.wishlist__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.wishlist__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}

.wishlist__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.wishlist__img {
  width: 150px;
}

.wishlist__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.wishlist__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}

.wishlist__container {
  display: grid;
  row-gap: 1.5rem;
}

.wishlist__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.wishlist__sub {
  margin-top: 2rem;
}

.wishlist__item {
  font-size: var(--small-font-size);
}

.wishlist__clear-button {
  font-size: var(--small-font-size);
  cursor: pointer;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

/* Show wishlist */
.show-wishlist {
  right: 0;
}

/*=============== CART ===============*/
.cart {
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  transition: 0.4s;
  overflow-y: scroll;
}

.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: 0.9rem;
  cursor: pointer;
}

.cart__close:hover {
  transform: rotate(180deg);
  color: var(--first-color);
}

.cart__container {
  display: grid;
  row-gap: 1.5rem;
}

.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart__box {
  background-color: var(--container-color);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--border-color);
}

.cart__img {
  max-width: 100px;
  object-fit: cover;
}

.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.cart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}

.cart__amount,
.cart__amount-content {
  display: flex;
  align-items: center;
}

.cart__amount {
  column-gap: 3rem;
}

.cart__amount-content {
  column-gap: 1rem;
}

.cart__amount-box {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.cart__prices {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.cart__prices-item {
  font-size: var(--small-font-size);
}

.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.cart__clear-button {
  font-size: var(--small-font-size);
  cursor: pointer;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

/* Show cart */
.show-cart {
  right: 0;
}
